.user-information
  max-width 384px
  margin 0 auto 24px auto
  border 1px solid #e9e9e9
  border-radius 4px
  font-size 14px
  line-height 24px

.user-information__row
  display flex
  padding 8px

.user-information__label
  color #2c2c2c
  width 100px
  margin-right 8px

.user-information__value
  color #6b6b6b