block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel='icon' href='static/favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' href='static/favicon.ico' type='image/x-icon')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap' rel='stylesheet')
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body
        include ../modules/header/header
        main.main
            .container
                block content
    script(src="static/js/main.min.js")
