.js-validation--error-field
  border 1px solid rgb(227, 100, 99)
  color rgb(227, 100, 99)

.js-validation--error-label
  color: #E36463;
  font-weight 600
  font-size 12px
  padding-left 8px
  line-height 16px
