.btn
  text-decoration none
  border-radius 4px
  text-align center
  transition 0.4s

.btn_size_md
  font-size 14px
  line-height 16px

.btn_size_lg
  display block
  font-size 14px
  line-height 16px
  width 100%

.btn__text
  display inline-flex
  align-items center

.btn_theme_sun
  cursor pointer
  background #ff9000
  border none
  padding 12px
  font-weight 600
  color white

.btn_theme_sun:hover, .btn_theme_sun:active, .btn_theme_sun:focus
  background #ffb14c

.btn_theme_social
  border 1px solid #d4d4d4
  margin 4px 0
  .btn__text
    padding 9px
    font-weight 600
    color #2c2c2c
    svg
      flex 0 0 21px
      margin-right 10px

.btn_theme_social:hover, .btn_theme_social:active, .btn_theme_social:focus
  background #f9f9f9
  border-color #aaa

@media only screen and (min-width: 600px)
  .btn_theme_social
    margin 0
  .btn_size_md
    flex-basis 136px